@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #EEF2FF;
}

#content{
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

#sidebar{
    grid-column: 1/2;
    /* padding-right: 3rem; */
    background-color: #6366F1;
}

#sidebar>div{
    display: flex;
    align-items: center;
    color: white;
    gap: 0.5rem;
    padding: 8px 0 8px 8px;
}

#sidebar>div:hover{
    background-color: #4F46E5;
    cursor: pointer;
}

#sidebar>div>img{
    width: 2.5rem;
    height: 2.5rem;
}

#newListInputContainer #newListInput{
    font-size: 1.1rem;
    padding: 3px 0 3px 5px;
    border: none;
    border-radius: 5px;
}

#sidebar>#newListInputContainer img{
    width: 1.8rem;
    height: 1.8rem;
}

#sidebar>#newListInputContainer img:active{
    transform: scale(0.9);
}

#sidebar>#newListItems{
    display: none;
    flex-direction: column-reverse;
    align-items: start;
    background: #4F46E5;
    border-radius: 5px;
    margin: 10px;
}

.showListItemsContainer{
    display: flex;
}

#sidebar>#newListItems>div{
    width: 95%;
    padding: 5px;
    display: flex;
    align-items: center;
}

#sidebar>#newListItems>div>div{
    flex: 1;
}

#sidebar>#newListItems>div:hover{
    background-color: #6366F1;
    border-radius: 5px;
}

#sidebar>#newListItems>div:active{
    transform: scale(0.95);
}

#sidebar>#newListItems>div>span{
    padding: 5px;
}

#sidebar>#newListItems>div>span:hover{
    transform: scale(1.2);
}

#container{
    grid-column: 2/3;
    width: 100%;
    position: relative;
}

#container>#listItemContainer>div{
    width: 70%;
}

#container>#listItemContainer>div>div>div:first-child{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #A5B4FC;
    margin: 8px 0;
    border-radius: 8px;
    align-items: center;
    transition: box-shadow 0.5s;
}

.addShadow{
    box-shadow: 1px 1px 10px 1px grey;;
}

#container>#listItemContainer>div>div>div>p{
    flex: 1;
    font-size: 1.3rem;
    color: white;
}

#container>#listItemContainer>div>div>div>button{
    padding: 5px;
    border-style: none;
    border-radius: 3px;
    background-color: #6366F1;
    color: white;
    font-size: 1.1rem;
}

#container>#listItemContainer>div>div>div>button:hover{
    cursor: pointer;
}

#container>#listItemContainer>div>div>div>span{
    width: 25px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* background: gray; */
    transition: background 0.5s;
    font-size: 1.2rem;
    color: white;
}

#container>#listItemContainer>div>div>div>span:hover{
    background: #4F46E5;
    cursor: pointer;
    /* color: white; */
}

#container>#listItemContainer>div>img{
    width: 300px;
    height: 300px;
    opacity: 0.8;
    transform: translate(100%, 100%);
}

#container>#listItemContainer, #container>#notesContainer, #container>#formContainer{
    height: 100%;
    width: 100%;
    /* display: none; */
}

#container>#listItemContainer{
    position: relative;
    display: none;
    justify-content: center;
    /* align-items: center; */
}

#container>#listItemContainer>img{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    border-radius: 8px;
    transition: background 0.1s;
}

#container>#listItemContainer>img:hover{
    cursor: pointer;
    background: #1038f7;
}

#container>#listItemContainer>img:active{
    transform: scale(0.9);
}

#container>#listItemContainer>div>div>.todoDetails{
    background: #C7D2FE;
    backdrop-filter: blur(1px);
    /* padding: 15px; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* height: 0px; */
    transition: padding 0.5s;
}

.showPadding{
    padding: 15px;
}

#container>#listItemContainer>div>div>.todoDetails>div{
    display: flex;
    gap: 10px;
}

#container>#listItemContainer>div>div>.todoDetails>div>p:first-child{
    flex-basis: 100px;
    font-weight: bolder;
    font-size: 1.1rem;
}

#container>#notesContainer{
    display: none;
}

#container>#formContainer{
    /* display: flex; */
    display: none;
    flex-direction: column;
    width: 500px;
    height: 451px;
    gap: 2rem;
    justify-content: center;
    background: #C7D2FE;
    padding: 1rem;
    border-radius: 8px;
    position: fixed;
    left: calc((100% - 250px) - 45%);
    top: 10%;
    box-shadow: 1px 1px 10px 2px gray;
    z-index: 10;
}

#container>#formContainer>#closeForm{
    align-self: flex-end;
    /* padding: 10px; */
    border-radius: 50%;
    font-size: 1.5rem;
    height: min-content;
    padding: 0;
    width: 30px;
    text-align: center;
    transition: background 0.5s;
}

#container>#formContainer>#closeForm:hover{
    cursor: pointer;
    border-radius: 50%;
    background: #818CF8;
}

#container>#formContainer>#closeForm:active{
    transform: scale(0.9);
}

#container>#formContainer>#title{
    font-size: 2rem;
    border: none;
    border-bottom: 1.5px solid #3730A3;
    padding-left: 5px;
    background: #C7D2FE;
    outline: none;
}

#container>#formContainer>#description{
    font-size: 1.5rem;
    border: none;
    border-bottom: 1.5px solid #3730A3;
    background: #C7D2FE;
    outline: none;
}

#container>#formContainer>#datePicker{
    display: flex;
    gap: 10px;
}

#container>#formContainer>#datePicker>#date{
    border-radius: 3px;
    border-style: none;
    border: 1.5px solid #3730A3;
    background: #3730A3;
    color: white;
}

#container>#formContainer>#priorityContainer>label{
    padding-right: 10px;
}

#container>#formContainer>#priorityContainer>#priority{
    border-style: none;
    border-radius: 3px;
    font-size: 1rem;
    background: #3730A3;
    color: white;
}

#container>#formContainer>#addTodo{
    font-size: 1.5rem;
    padding: 5px 0;
    border-style: none;
    border-radius: 5px;
    background: #818CF8;
}

#container>#formBackground{
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}



